HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Proprietary / Secret ###
lib/
ebics/*.p12
ebics/ebicsclient.config
bench-docker/tl/runtime/
bench-docker/tl/start-tl.sh
bench-docker/CACHED
bench-docker/\[internal\]
bench-docker/docker
bench-docker/exporting
bench-docker/resolving

### Benchmark Output ###
bench-results/
